.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 40px repeat(3, 2fr) 1fr .5fr 60px;
}


.div1 {
    grid-area: 1 / 1 / 2 / 2;
}

nav {
    list-style: none;
    grid-area: 1 / 1 / 2 / 6;
    background: black;


}

.navbar {
    list-style: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    display: flex;
}


.header {
    font-weight: bold;
    margin-bottom: 40px;
}

.link {

    padding: 10px;
}


nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
}

nav a {
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: .75em;
}

nav a:hover {
    background: white;
    color: black;
}

.div3 ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.div3 a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: black;
}

.div3 {
    background-color: #F0F0F0;

}

.div3 a:hover {
    color: white;
    background: black;
}

.menu-title {
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    position: relative;
    left: 10px;
}

.div4 {
    background: #333333;
    grid-area: 7 / 2 / 8 / 6;
}

.div5 {

    grid-area: 6 / 2 / 7 / 6;
}

.div6 {
    background: white;
    grid-area: 2 / 5 / 6 / 6;
}

.div7 {
    background: white;
    grid-area: 2 / 2 / 6 / 5;
    margin-bottom: 200px;
}

main {
    grid-area: main;
    display: grid;
    grid-template-columns: 6fr 3fr;
    padding: 1em;
    grid-column-gap: 1em;
    grid-row-gap: 6em;
}

main article {
    flex-basis: 400px;
}

h1 {
    color: teal;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

.ads article:first-child {
    margin-bottom: 1em;
}

.ads div:nth-of-type(1) {
    flex-grow: 1;
}

.ads div:nth-of-type(2) {
    flex-grow: 1;
}

.ads div:nth-of-type(3) {
    flex-grow: 1;
}

.ads a {
    display: block;
    border: 1px solid darkgray;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: .8em;
}

.ads article:nth-of-type(odd) a {
    height: 90px;
    line-height: 90px;
}

.ads article:nth-of-type(even) a {
    height: 175px;
    line-height: 175px;
}

p {
    color: black;
    padding: 10px;
    padding-bottom: 50px;
}

.numbers {
    /*margin: 2em 5em;*/
    grid-column: 1 / -1;
    display: flex;
}

.numbers ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: auto;
    align-items: center;
}

.numbers a {
    text-decoration: none;
    color: black;
    display: inline-block;
    width: 2.2em;
    height: 2em;
    line-height: 2em;
    margin-top: 50em;
    text-align: center;
}

.numbers a:hover {
    background: black;
    color: white;
}


footer section {
    margin-top: 115px;
    padding: 2.5em 1rem;
}

footer a {
    color: white;
}

.top-footer {
    background: #666666;
}

.bottom-footer {
    margin-top: 25px;
    margin-left: 20px;
}

body {
    color: white;
}
