body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;

}
.message-info {
    color:darkslateblue;
    border-style: solid;
    border-color: lightgrey;
    border-width: 1px;
    border-radius: 5px;
    padding:10px;
    margin: 10px;
    background-color: powderblue;

}

.message-success {
    padding: 10px;
    margin: 10px;
    border-style: solid;
    border-color: lightgrey;
    border-width: 1px;
    border-radius: 5px;
    color: darkgreen;
    background-color: palegreen;
}

.message-warning{
    border-style: solid;
    border-color: lightgrey;
    border-width: 1px;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    color:orange;
    background-color: lightgoldenrodyellow;
}

.message-error{
    border-style: solid;
    border-color: lightgrey;
    border-width: 1px;
    border-radius: 5px;
    margin: 10px;
    padding:10px;
    color:darkred;
    background-color: indianred;
}