/*#container {*/
/*margin: 50px auto;*/
/*width: 500px;*/
/*padding: 10px;*/
/*}*/

/*h1, #container {*/
/*color: blue;*/
/*text-decoration: underline;*/
/*}*/

/*{*/
/*font-weight: bold;*/
/*}*/
.fancy-header {
    color: darkslateblue;
}

h1, #fir {
    text-align: center;

}

h2 {
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
}

#visionhead {
    text-align: center;
}

#fir {
    border: 1px solid powderblue;
    padding: 30px;
}

#bigdiv {
    background-color: aliceblue;
    background-repeat: no-repeat;
    background-position: cover;
    background-size: 230px 1000px;
    float: left;
}

#compvision {
    text-align: center;
    font-family: 'PT Serif', serif;
    font-size: xx-large;
    color: darkslateblue;
}

table, th, td {
    border: 1px solid black;
    padding: 15px;

}

th {
    background-color: aliceblue;
    color: cornflowerblue;

}

#prodtable {
    text-align: center;
    font-family: 'PT Serif', serif;
    color: darkslateblue;
}

ul {
    background: aliceblue;
    padding: 20px;
}

ul li {
    background: #cce5ff;
    margin: 5px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

li {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}


li:hover {
    background-color: #555;
    color: white;
}

#coreval, #vision {
    position: center;
    color: darkslateblue;
}

p.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 500px;
    background-color: aliceblue;
    border: 80px solid #4CAF50;
}



