
/*#container {*/
    /*margin: 50px auto;*/
    /*width: 500px;*/
    /*padding: 10px;*/
/*}*/

/*h1, #container {*/
    /*color: blue;*/
    /*text-decoration: underline;*/
/*}*/

/*{*/
    /*font-weight: bold;*/
/*}*/
.fancy-header {
    color:floralwhite;
}

h1, #fir {
    text-align: center;
}

h1{
    background-color: cornflowerblue;
}

#fir {
    border: 1px solid powderblue;
    padding: 30px;
}

div{
    background-image: url("../img/backgrr.jpg");
    background-repeat: no-repeat;
    background-position: cover;
    background-size: 3000px 1000px;

}
