body {
    background-color: #fff1eb;
}
h1{
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.days {
    display: flex;
    justify-content: space-between;
}

.day {
    width: 32%;
    height: 400px;
    background: lavenderblush;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 80%;
    margin: auto;
}