
body {
    background-image: url("../img/studioghibli-1573055720305-7285.jpg");
}

h1{
    display: flex;
    justify-content: center;
    font-family: 'Crimson Text', serif;
    color: white;
}

.days {
    display: flex;
    justify-content: space-between;
}

.day {
    width: 32%;
    height: 400px;
    background: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid white;
    font-family: 'Crimson Text', serif;
    font-weight: bold;

}

.container {
    width: 80%;
    margin: auto;
}


#menu {
    position: absolute;
    background: #fff;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
}
